.homepage {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .homepage h1 {
    font-size: 3rem;
    color: #333;
  }
  